$ui-color-white: #FFFFFF;
$ui-color-black: #141414;
$ui-color-blue: #4362CE;
$ui-color-blue-light: #7092FE;
$ui-color-transparent: #EBEBEB;
$ui-color-add: #219169;
$ui-color-system-red: #F57E77;
$ui-color-text-main: #5E6366;
$ui-color-text-light: #AFB6B9;
